/*
Theme Name: marryadress
Theme URI: http://underscores.me/
Author: The Rope S.R.L
Author URI: http://www.therope.it
Description: Marryadress 2016 Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: marryadress
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

marryadress is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@font-face{
	font-family: 'AvenirNext-Bold';
	src: 'fonts/AvenirNext-Bold.ttf';
}
@font-face{
	font-family: 'AvenirNext-Medium';
	src: 'fonts/AvenirNext-Medium.ttf');
}
@font-face{
	font-family: 'AvenirNext-Semi';
	src: 'fonts/AvenirNext-DemiBold.ttf';
}
@font-face{
	font-family: 'AvenirNext-Regular';
	src: 'fonts/AvenirNext-Regular.ttf';
}
@font-face{
	font-family: 'Didot';
	src: 'fonts/didot-italic.ttf';
	font-style: 'italic';
}

.avenir-bold{
	font-family: 'AvenirNext-Bold';
	font-style: normal;
}
.avenir-medium{
	font-family: 'AvenirNext-Medium';
	font-style: normal;
}
.avenir-semibold{
	font-family: 'AvenirNext-Semi';
	font-style: normal;
}
.avenir-regular{
	font-family: 'AvenirNext-Regular';
	font-style: normal;
}
.didot-italic{
	font-family: 'Didot';
	font-style: italic;
}
.georgia-italic{
	font-family: 'Georgia', sans-serif;
	font-style: italic;
	font-weight: 400;
}
.georgia-regular{
	font-family: 'Georgia', sans-serif;
	font-weight: 400;
	font-style: normal;
}


html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: black;
}

a:visited {
	color: black;
}

a:hover,
a:focus,
a:active {
	color: black;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Header style (homepage)
--------------------------------------------------------------*/
html {
	margin-top: 0px!important;
}
body {
	/*min-width: 1440px;*/
	font-family: 'AvenirNext-Regular', sans-serif;
	overflow-x: hidden;
}
.clear {
	float: none;
	clear: both;
}
/*a:visited {
    color: #fff;
}*/
.follow-bar {
	height: 23px;
    width: 100%;
    white-space: nowrap;
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #fff;
}
.box_fb {
	height: 23px;
	font-family: georgia;
}
.box_fb p {
	height: 23px;
    padding: 0 5px 0 10px;
    margin: 0px;
    font-style: italic;
    line-height: 23px;
}
#box_fbl {
	width: 315px;
	float: left;
}
#box_fbc {
	/*width: 46%;*/
	overflow: hidden;
	background-image: url("images/grey_px.jpg");
	background-position: center center;
	background-repeat: repeat-x;
}
#box_fbr {
	/*width: 12%;*/
    float: right;
    text-align: right;
}
#social_title {
    display: block;
    float: left;
}
.social-icons {
    float: left;
    height: 23px;
    list-style: none;
    margin: 0px;
    padding: 0;
}
.social-icons li {
	height: 23px;
    line-height: 23px;
    float: left;
    width: 20px;
    padding: 0 0 0 5px;
}
.social-icons li:first-child {
    width: 20px;
    padding: 0 4px 0 0;

}
.social-icons li a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    line-height: 24px;
}
.social-icons li a:hover {
    color: #c5a809;
}
#home_menu_container {
    max-width: 1156px;
    width: 100%;
    white-space: nowrap;
    height: 110px;
    font-family: 'AvenirNext-Regular', sans-serif;
    margin: auto;
    padding: 0px;
}
#menu_wrapper {
    width: 100%;
    height: 101px;
    /*position: fixed;
    margin-top: 23px;
    z-index: 10;*/
}
#sub_menu_wrapper {
    width: 100%;
    height: 101px;
    /*position: fixed;
    z-index: 10;*/
    background-color: #fff;
}
#sub_menu_wrapper #menu_container {
    padding-top: 0px;
}
.page-template-page-home .site-content {
	width: 100%;
	margin: 0px;
}
.site-content {
	width: 100%;
	margin: 170px 0px 0px;
	min-height: calc(100vh - 605px);
}
.logo-container {
    width: 226px;
    height: 110px;
    float: left;
    margin-right: 40px;
    margin-top: 10px;
}
.navigation-main {
    float: left;
}
.navigation-main ul.menu{
	padding: 0;
    margin: 0;
    height: 110px;
    line-height: 100px;
}
.navigation-main ul.menu li {
    list-style: none;
    float: left;
    padding: 0 20px;
}
.navigation-main ul.menu li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
	font-family: 'AvenirNext-Regular', sans-serif;
	letter-spacing: 1px;
}
.cta-internal {
    float: right;
    height: 110px;
}
.cta-internal ul.cta-list{
    margin: 0px;
    padding: 0px;
    line-height: 100px;
}
.cta-internal ul.cta-list li {
	float: left;
    padding: 0 10px;
    height: 17px;
    margin-top: 40px;
    line-height: 15px;
    list-style: none;
}
.cta-internal ul.cta-list li.cart {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.cta-internal ul.cta-list a{
	text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.cta-internal ul.cta-list li.cart a{
    font-size: 14px;
}
section.splash {
    padding-top: 140px;
    height: 875px;
    background-image: url("images/home_bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
section.splash .container {
    width: 100%;
    margin: 200px auto;
}
section.splash .container h1 {
    color: #fff;
    font-size: 63px;
    font-style: italic;
    font-weight: 100;
    line-height: 54px;
    font-family: 'Didot', serif;
    text-align: center;
    background-image: url("images/title_separator.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 35px;
    margin: 0 auto 20px;
    width: 614px;
}
p#head_subtitle {
	color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-family: 'AvenirNext-Regular', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 1px;
	/*font-weight: 600;*/
}
.hover-cta {
    width: 351px;
    height: 60px;
    margin: auto;
}
.hover-cta a{
	width: 49%;
	height: 80%;
	border: 2px solid #ebebeb;
	line-height: 48px!important;
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'AvenirNext-Regular', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 600;
    color: #fff;
}
.hot_item a {
    display: block;
    float: left;
    width: 100%;
}
a.buy-cta {
    float: left;
}
a.sell-cta {
    float: right;
}
.splash-hover.fw-bottom {
	height: 100px;
	width: 100%;
	white-space: nowrap;
	background-image: url("images/head_bg_opaq.png");
	background-repeat: repeat;
	background-position: center top;
	padding-top: 1px;
	display: none;
}
#cta_bottom_wrap {
	width: 1156px;
    height: 66px;
    margin: 17px auto;
    border: 2px solid #fff;
    display: none;
}
.fw-bottom p {
    line-height: 17px;
    font-size: 24px;
    font-style: italic;
    text-align: left;
    color: #fff;
    font-family: 'Didot', serif;
    margin-left: 325px;
    float: left;
}
a#down_button {
    width: 50px;
    margin: 40px auto;
    height: 35px;
    padding-top: 15px;
    display: block;
}
a.more-info {
    display: block;
    margin-left: 15px;
    width: 63px;
    height: 22px;
    float: left;
    border: 2px solid #fff;
    line-height: 20px;
    font-size: 12px;
    padding-left: 7px;
    text-decoration: none;
    color: #fff;
    margin-top: 22px;
    text-transform: uppercase;
    background-image: url("images/link_go.png");
	background-repeat: no-repeat;
	background-position: 44px 4px;
}
#color_v {
	display: none;
}
#mobile_menu_trigger{
	display: none;
}

/*--------------------------------------------------------------
## Header generica
--------------------------------------------------------------*/
.full_page_title .woocommerce-breadcrumb {
	display: block;
	position: absolute;
    top: 35px;
    font-size: 12px;
}
#menu_container {
	max-width: 1156px;
	width: 100%;
    white-space: nowrap;
    height: 110px;
	margin: auto;
    font-family: 'AvenirNext-Regular', sans-serif;
    padding-top: 33px;
}
#menu_container .navigation-main ul.menu{
	padding: 0;
    margin: 0;
    height: 110px;
    line-height: 100px;
}
/*#menu_container .navigation-main ul.menu li {
    list-style: none;
    float: left;
    padding: 0 20px;
}*/
#menu_container .navigation-main ul.menu li a{
    text-decoration: none;
    color: #232323;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}
#menu_container .cta-internal {
    float: right;
    height: 110px;
}
#menu_container .cta-internal ul.cta-list{
    margin: 0px;
    padding: 0px;
    line-height: 100px;
}
#menu_container .cta-internal ul.cta-list li {
	float: left;
    padding: 0 10px;
    height: 17px;
    margin-top: 40px;
    line-height: 15px;
    list-style: none;
}
#menu_container .cta-internal ul.cta-list li.cart {
	border-left: 1px solid #232323;
	border-right: 1px solid #232323;
}
#menu_container .cta-internal ul.cta-list a{
	text-decoration: none;
    color: #232323;
    text-transform: uppercase;
    font-weight: 400;
}
li.cta.account a {
    font-size: 18px;
}
.hot_deal_price {
	margin: 0;
	padding: 0;
	max-width: 320px;
	margin: auto;
	text-align: center;
}
.logmessage {
	position: absolute;
    top: 300px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    z-index: 30;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 35px 0;
    border-radius: 18px;
    font-size: 15px;
    display: none;
}

/*--------------------------------------------------------------
## Home static content
--------------------------------------------------------------*/

#gallery-container {
	width: 100%;
	max-width: 1156px;
	margin: auto;	
}
.gallery-wrap {
    max-width: 1068px;
    width: 89.6%;
    height: 70px;
    background-color: #ebebeb;
    margin: 20px auto;
	overflow: hidden;
	float: left;
}
.gallery {
	position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.slider_button {
    height: 70px;
    margin: 20px 0 0;
    display: block;
    width: 5%;
    min-width: 60px;
    float: left;
    background-color: #ebebeb;
}
.slider_button#sb_left {
	float: left;
	background-image: url("images/slide_button_l.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.slider_button#sb_right {
	float: right;
	background-image: url("images/slide_button_r.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.gallery__item {
    width: 100px;
    height: 50px;
    margin: 10px 10px 0;
    float: left;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    color: #505050;
    line-height: 52px;
    list-style: none;
}
.gallery__item a {
	text-decoration: none;
	color: #000;	
}
#hp_top_contents {
    /*width: 1156px;*/
    max-width: 1156px;
    width: 100%;
    margin: auto;
}
#hp_tc_left_column {
    width: 710px;
    float: left;
    background-color: #ebebeb;
    margin-right: 20px;
    position: relative;
}
#hp_tc_left_column .col_title {
    width: 590px;
    margin: auto;
    text-align: center;
    background-image: url("images/black_pixel.jpg");
	background-repeat: repeat-x;
	background-position: center center;
}
#hp_tc_left_column #small_t {
	font-family: 'AvenirNext-Regular', sans-serif;
    background-color: #ebebeb;
    padding: 15px 0 0 0;
    width: 200px;
    margin: auto;
    font-size: 16px;
    color: #1a1a1a;
    text-transform: uppercase;
}
#hp_tc_left_column #large_t {
    font-family: 'Didot', serif;
    background-color: #ebebeb;
    padding: 0;
    width: 200px;
    margin: auto;
    font-size: 48px;
    color: #1a1a1a;
    font-style: italic;
    line-height: 50px;
    font-weight: 100;
}
#top_pick {
    background-image: url("images/editors_pick1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 382px;
    height: 417px;
    margin: 10px 0 0 60px;
	background-size: cover;
}
#top_pick .img_caption {
    margin: 390px 0 0 94px;
    position: absolute;
    height: 27px;
    width: 200px;
    background-color: #ebebeb;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
}
.pick_text {
    position: absolute;
    background-image: url("images/white_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 260px;
}
.pick_text#pt_top {
	width: 360px;
	top: 195px;
    left: 320px;
}
.pick_title {
	font-family: 'Didot', serif;
    text-align: center;
    font-size: 30px;
    max-height: 76px;
    line-height: 33px;
    overflow: hidden;
    font-style: italic;
    font-weight: 100;
    color: #1a1a1a;
    margin: 20px 0 5px 0;
}
.pick_par, .pick_text #lipsum {
    width: 225px;
    max-height: 85px;
    overflow: hidden;
    margin: auto;
    text-align: justify;
    font-size: 14px;
    line-height: 18px;
    color: #6c6c6c;
    font-family: 'AvenirNext-Regular', sans-serif;
}
.pick_link {
    width: 225px;
    height: 52px;
    display: block;
    margin: 15px auto;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 54px;
    text-align: center;
    font-size: 14px;
    font-family: 'AvenirNext-Regular', sans-serif;
}
.pick_link:hover,
.pick_link:visited {
	color: #fff;
}
#bottom_pick {
    background-image: url("images/editors_pick2.jpg");
    /*background-repeat: no-repeat;
    background-position: center center;
    width: 292px;
    height: 319px;
    margin: 0 0 80px 354px;
	background-size: cover;*/
	margin: 20px 0 80px 258px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 390px;
	height: 382px;
	background-size: cover;
}
#bottom_pick .img_caption {
	margin: 355px 0 0 97px;
    position: absolute;
    height: 27px;
    width: 200px;
    background-color: #ebebeb;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
}
.pick_text#pt_bottom {
	width: 360px;
	top: 594px;
    left: 27px;
}
#hp_tc_right_column {
    width: 426px;
    float: right;
    position: relative;
}
#hp_tc_right_column .col_title {
    width: 426px;
    margin: auto;
    text-align: center;
    background-image: url("images/black_pixel.jpg");
    background-repeat: repeat-x;
    background-position: center center;
}
#hp_tc_right_column #small_t {
    font-family: 'AvenirNext-Regular', sans-serif;
    background-color: #fff;
    padding: 15px 0 0 0;
    width: 200px;
    margin: auto;
    font-size: 16px;
    color: #1a1a1a;
    text-transform: uppercase;
}
#hp_tc_right_column #large_t {
    font-family: 'Didot', serif;
    background-color: #fff;
    padding: 0;
    width: 200px;
    margin: auto;
    font-size: 48px;
    color: #1a1a1a;
    font-style: italic;
    line-height: 50px;
    font-weight: 100;
}
#img_box_arrivals {
    margin-top: 15px;
}
#img_box_arrivals a {
    display: block;
    float: left;
    width: 48%;
    /*height: 243px;*/
    margin: 1%;
    min-height: 243px;
}
.arr_left_img {
	/*width: 211px;
    height: 243px;*/
    width: 100%;
	height: 100%;
	min-height: 243px;
    /*margin-top: 12px;*/
}
.arr_right_img {
	/*width: 211px;
    height: 243px;*/
    width: 100%;
	height: 100%;
	min-height: 243px;
    /*margin-top: 12px;*/
}
#arr_l_img1 {
	background-image: url("images/hot_deal_a.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	display: inline-block;
}
#arr_r_img1 {
	background-image: url("images/hot_deal_b.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	display: inline-block;
}
#arr_l_img2 {
	background-image: url("images/hot_deal_c.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	display: inline-block;
}
#arr_r_img2 {
	background-image: url("images/hot_deal_d.jpg");
    background-repeat: no-repeat;
    background-position: center center;
	display: inline-block;
}
#shop_arrivals {
	width: 100%;
	height: 43px;
	display: block;
	background-color: #000;
	margin: 23px 0;
	text-align: center;
	text-decoration: none;
	line-height: 46px;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	font-family: 'Didot', serif;
	font-style: italic;
}
#sell_banner_wrap {
    width: 100%;
    height: 213px;
    background-color: #000;
    padding-top: 10px;
}
#sell_banner {
    width: 407px;
    height: 191px;
    margin: auto;
    border: 2px solid #fff;
}
#sb_small {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 12px;
    margin: 20px 0 0 0;
}
#sb_large {
    /*color: #fff;
    text-align: center;
    font-size: 48px;
    font-style: italic;
    line-height: 48px;
    margin: 5px 0 10px 0;
    font-family: 'Didot', serif;*/
	color: #000;
	text-align: center;
	font-size: 19px;
	font-style: italic;
	line-height: 20px;
	padding: 21px 0 10px 0;
	font-family: 'Didot', serif;
}
#sell_link {
	width: 200px;
	height: 60px;
	display: block;
	margin: 25px auto;
	text-align: center;
	background-color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	line-height: 48px;
	font-size: 14px;
}
#banner_large {
    width: 1153px;
    height: 165px;
    margin: auto;
    border: 2px solid #000;
    margin-top: 18px;
    background-image: url("images/banner_home.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
#banner_title {
    font-size: 36px;
    font-style: italic;
    margin: 30px 64px 0;
    font-family: 'Didot', serif;
    background-image: url("images/smoked_line.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}
#banner_text {
	font-size: 15px;
    margin: 10px 64px;
    font-family: 'AvenirNext-Regular', sans-serif;
    text-transform: uppercase;
}
.paragraph_title {
    /*width: 1156px;*/
    max-width: 1156px;
    width: 100%;
    margin: 50px auto 25px;
    text-align: center;
    background-image: url("images/black_pixel.jpg");
    background-repeat: repeat-x;
    background-position: center center;
}
.small_p_title {
	font-family: 'AvenirNext-Regular', sans-serif;
    background-color: #fff;
    padding: 15px 0 0 0;
    width: 222px;
    margin: auto;
    font-size: 16px;
    color: #1a1a1a;
    text-transform: uppercase;
}
.large_p_title {
    font-family: 'Didot', serif;
    background-color: #fff;
    padding: 0;
    width: 250px;
    margin: auto;
    font-size: 48px;
    color: #1a1a1a;
    font-style: italic;
    line-height: 50px;
    font-weight: 100;
}
#hot_deals_item_box {
    /*width: 1156px;*/
    max-width: 1156px;
    width: 100%;
    margin: auto;
	text-align: center;
}
.hot_item {
    /*width: 267px;*/
    width: 266px;
    margin-left: 25px;
	display: inline-block;
	position: relative;

}
.hot_item:first-child {
    margin-left: 0px;
}
span.regularprice.lone {
	margin-right: 5px;
	color: #bbb;
	text-decoration: line-through;
}
.hot_item_img#hdi1 {
	width: 100%;
	height: 333px;
	/*background-image: url("images/shop_1.jpg");*/
    background-repeat: no-repeat;
    background-position: center center;
}
.hot_item_img#hdi2 {
	width: 100%;
	height: 333px;
	background-image: url("images/shop_2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.hot_item_img#hdi3 {
	width: 100%;
	height: 333px;
	background-image: url("images/shop_3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.hot_item_img#hdi4 {
	width: 100%;
	height: 333px;
	background-image: url("images/shop_4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.hot_deal_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #151515;
    font-family: 'AvenirNext-Regular', sans-serif;
	height: 40px;
	overflow: hidden;
	margin-bottom: 0px;
}

#hot_deals_item_box .regularprice{
	font-family: 'Didot',serif;
	font-size: 18px;
	font-style: italic;
}

#hot_deals_item_box .regularprice.in-sale{
	text-decoration: line-through;
}

#hot_deals_item_box .saleprice{
	font-family: 'Didot',serif;
	font-size: 18px;
	font-style: italic;
	margin-left: 5px;
}

#shop_collection {
    width: 1156px;
    display: block;
    text-align: center;
    margin: 12px auto;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    height: 43px;
    line-height: 43px;
}
#newsletter_box {
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 35px;
	float: left;
}
#news_centered {
    height: 73px;
    /*width: 1008px;*/
    max-width: 1008px;
    width: 100%;
    margin: auto;
}
#newsletter_title {
    width: 495px;
    float: left;
    padding-left: 50px;
    text-transform: uppercase;
    color: #363636;
    font-size: 15px;
    background-image: url("images/mail_icon.png");
    background-repeat: no-repeat;
    background-position: left 26px;
    padding-top: 28px;
}
#newsletter_box #news_form {
    width: 470px;
    float: right;
    height: 46px;
    margin-top: 8px;
}
#newsletter_box fieldset {
    border: none;
}
input#input_email {
    width: 310px;
    border: none;
    height: 46px;
    color: #1a1a1a;
    font-size: 16px;
    font-family: 'AvenirNext-Regular', sans-serif;
    padding-left: 30px;
}
#news_submit {
    height: 46px;
    margin-left: 10px;
    background-color: #000;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'AvenirNext-Regular', sans-serif;
    box-shadow: none;
}
.brand_box:first-child {
	display: inline-block;
}
.hot_item .size {
	/*width: 50%;
	margin-left: 0%;
	display: block;*/
	padding-bottom: 5px;
}
.hot_item .add-to-wishlist {
	position: absolute;
	border: none;
	font-size: 10px;
	line-height: 10px;
	top: 374px;
	right: 5%;
	width: 80px;
	height: 40px;
	margin: 0;
}
.hot_item .add-to-wishlist i {
	font-size: 20px;
	font-size: 20px;
	position: absolute;
	top: 0px;
}
.hot_item .add-to-wishlist:hover {
	color: #C5A809;
}
.price_slider_amount .button {
    font-size: 12px;
}
.woocommerce span.onsale {
    min-width: 25px !important;
    min-height: 25px !important;
    height: 43px;
    width: 43px;
    background-color: #c5a809 !important;
    line-height: 40px !important;
    font-size: 12px !important;
    color: #000 !important;
    font-weight: 500 !important;
}

/*--------------------------------------------------------------
## Footer style
--------------------------------------------------------------*/

footer#colophon {
    width: 100%;
    background-color: #000;
}
footer#colophon a {
	color: #fff;	
}
footer#colophon .container {
    width: 1156px;
    margin: auto;
}
.upper-footer {
    height: 275px;
}
.one-quarter {
    float: left;
    width: 200px;
    margin-top: 70px;
    margin-left: 65px;
}
footer .one-quarter{
	width: 190px;
}
.one-quarter:first-child {
    width: 350px;
    margin-left: 0px;
    margin-top: 50px;
}
.footer-subtitle {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    width: 305px;
    margin: 20px 0px 30px;
}
.footer-follow {
    float: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
.footer-social-links {
    list-style: none;
    margin: 7px 0 0;
    padding: 0;
    float: left;
}
.footer-social-links li {
    float: left;
    width: 20px;
    margin-left: 8px;
    font-size: 20px;
}
.footer-social-links li:first-child {
    margin-left: 12px;
    font-size: 18px;
}
.footer-social-links li a{
	text-decoration: none;
}
.upper-footer .fa.fa-instagram {
    padding-left: 3px;
}
.upper-footer ul.links {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.upper-footer .links a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 14px 0;
    display: block;
    font-size: 12px;
}
.upper-footer h6 {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    padding: 0;
    margin: 13px 0;
}
.upper-footer .address {
    color: #fff;
    font-size: 14px;
    width: 150px;
    font-weight: 100;
    line-height: 21px;
}
.upper-footer a.phone-cta {
    font-size: 12px;
    font-weight: bold;
    background-image: url("images/phone_icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    display: block;
    height: 24px;
    line-height: 23px;
}
.upper-footer a.mail-cta {
    font-size: 12px;
    font-weight: bold;
    background-image: url("images/email_icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    display: block;
    height: 24px;
    line-height: 23px;
    margin-top: 15px;
}
.lower-footer {
    height: 50px;
    border-top: 2px solid #151515;
}
.one-third {
    width: 33.3%;
    float: left;
}
.lower-footer p.copyright {
    color: #fff;
    font-size: 10px;
    margin-top: 17px;
}
.lower-footer ul.payment-methods {
    list-style: none;
    margin: 12px 0 0 120px;
    padding: 0px;
    float: right;
}
.lower-footer ul.payment-methods li{
	width: 38px;
	height: 20px;
	float: left;
	margin-left: 20px;
}
.lower-footer ul.info-links {
	list-style: none;
    margin: 16px 0 0 0;
    padding: 0px;
    float: right;
}
.lower-footer ul.info-links li{
	float: left;
	height: 10px;
	border-left: 1px solid #fff;
	padding: 0 10px;
}
.lower-footer ul.info-links li:first-child{
	border: none;
}
.lower-footer ul.info-links li a{
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	line-height: 10px;
}

/*--------------------------------------------------------------
## Single product page
--------------------------------------------------------------*/

.product, .status-publish {
	max-width: 1440px;
	margin: auto;
	width: 100%;
}
.product .images {
    width: 860px!important;
    margin-bottom: 0px!important;
}
.thumbnails.columns-3 {
    float: left;
    width: 354px!important;
    padding: 0!important;
}
.thumbnails a {
    width: 100%!important;
    display: block;
    padding: 0!important;
    margin: 0!important;
    height: 192px;
    overflow: hidden;
}
a.woocommerce-main-image.zoom {
    float: right;
    width: 506px!important;
    height: 768px!important;
    overflow: hidden;
    position: relative;
    cursor: crosshair;
}
a.woocommerce-main-image.zoom img.wp-post-image{
	height: 100%!important;
	width: auto!important;
	max-width: 1000px!important;
    /*left: 50%;
    margin-left: -500px;
    position: absolute;*/
    cursor: crosshair;
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}
.zoomImg{
	opacity: 1!important;
	/*width: 400%!important;
	height: 400%!important;*/
}
.social_abs {
    position: absolute;
    top: 732px;
    left: 775px;
	display: none;
}
.social_abs a{
	color: #000!important;	
}
.summary.entry-summary {
    width: 385px!important;
    margin-left: 54px;
    float: left!important;
    position: relative;
}
.product_title {
	font-family: 'Didot', serif;
	font-size: 40px;
	font-style: italic;
	color: #181818;
	font-weight: 100;
	margin-bottom: 10px;
}
.designer-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
	letter-spacing: 1px;
}
.sku {
	text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.price {
    height: 42px;
    width: 100%;
    background-color: #f6f6f6;
    line-height: 43px;
    padding-left: 10px;
}
.amount {
    color: #000;
    font-size: 16px;
    font-weight: bold;
	letter-spacing: 1px;
}
.dress-condition {
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    border: 1px solid #000;
    padding: 5px 10px;
    height: 26px;
    line-height: 16px;
    color: #000;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 14px;
	font-family: 'Didot', serif;
}
button.single_add_to_cart_button.button.alt {
    clear: left;
    width: 100%;
    height: 82px;
    margin: 16px 11px 0 0;
    background-color: #000;
    text-transform: uppercase;
	border-radius: 0;
}
button.single_add_to_cart_button.button.alt:hover{
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 0;
}

.input-text.qty.text {
    height: 40px;
    width: 200px;
    color: #414141;
    font-size: 14px;
	border-radius: 0px;
	font-family: 'AvenirNext-Regular';
}
.size-guide {
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
	font-family: 'Didot', serif;
	margin-left: 20px;
	margin-top: 10px;
	line-height: 40px;
}

a.size-guide:visited{
	color: #000;}

form.cart {
    margin-bottom: 20px!important;
}
.added-to-wishlist,
.add-to-wishlist {
    width: 100%;
    height: 43px;
    border: 1px solid #000;
    display: block;
    text-align: left;
    line-height: 44px;
    text-transform: uppercase;
    color: #393939;
    padding-left: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 20px;
}
.add-to-wishlist i,
.added-to-wishlist i {
	margin-right: 20px;
    margin-top: 15px;
    float: right;
}
.product_meta .box {
    width: 100%;
    border-top: 1px solid #c2c2c2;
    display: block;
    text-align: left;
    line-height: 44px;
    text-transform: uppercase;
    color: #646464;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
}

.product_meta .box-title .fa-envelope{
	float: left;
    margin: 13px 0 0 0;
}

i.fa-minus, i.fa-plus {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    color: #c2c2c2;
}
#qea {
    float: left;
    width: 712px;
    margin-left: 156px;
}
.related.products {
    float: left;
    width: 363px;
    margin-left: 50px;
}
#qea .ask_title {
    text-transform: uppercase;
    margin: 35px 0 0;
    font-size: 16px;
    color: #1a1a1a;
}
#qea h1 {
    margin: 0 0 30px;
    font-size: 48px;
    font-style: italic;
    font-weight: 100;
    color: #1a1a1a;
    font-family: 'Didot', serif;
}
#back-to-shop_bottom{
	width: 100%;
	height: 53px;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	background-image: url("images/back_to.png");
    background-repeat: no-repeat;
    background-position: 22px center;
}
#back-to-shop_bottom a{
	display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 54px;
    text-decoration: none;
    text-transform: uppercase;
	color: black
}
#qea textarea{
	border-radius: 0; -webkit-appearance: textfield; -moz-appearance: textfield; padding: 15px; font-family: 'Avenir', sans-serif; font-size: 14px; min-height: 200px
}

#qea .send-answer{
	-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-text-shadow: none; -moz-text-shadow: none; text-shadow: none; border: 0; border-radius: 0; font-family: 'Avenir', sans-serif; background-color: black; color: white; text-transform: uppercase; width: 100%; padding: 20px 40px; vertical-align: bottom; margin-bottom: 0; margin-top: 20px
}

/*.single-question:nth-child(even) {
	background-color: #ebebeb;
}*/
.single-question .username{
	font-size: 14px;
	font-weight: bold;
	color: #414141;
	margin: 0;
	padding-left: 5px;
	padding-top: 20px;
}
.single-question .question,
.single-question .answer {
    margin: 5px 0px 0px 0px;
    padding: 0px 5px 10px;
    font-size: 14px;
    color: #414141;
    line-height: 18px;
}
.single-question .answer {
	background-color: #ebebeb;
}
.question-form {
    border: 1px solid #000;
    margin-top: 50px;
    padding: 50px;
    margin-bottom: 50px;
}
.question-form h2 {
    text-align: center;
    font-size: 34px;
    font-style: italic;
    font-weight: 100;
    margin: 0 0 40px;
    font-family: 'Didot', serif;
    background-image: url("images/black_line.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 25px;
}

.question-form .form-row{
	display: inline-block;
	width: 32.8%;
	margin-bottom: 10px;
}

.question-form .form-row input{
	width: 100%;
	border-radius: 0;
	border: 1px solid #dfdfdf;
	font-family: 'AvenirNext-Regular';
}

textarea#question {
    height: 115px;
    padding: 10px;
	font-size: 16px;
}
button#send-question {
    width: 610px;
    border: 2px solid #000;
    background-color: #fff;
    margin-top: 10px;
    height: 60px;
    text-transform: uppercase;
    font-size: 15px;
}
.related.products h2 {
    margin: 60px 0 30px;
    font-size: 48px;
    font-style: italic;
    font-weight: 100;
    color: #1a1a1a;
    font-family: 'Didot', serif;
}
.single-product ul.products li.product {
    width: 49%;
    margin: 0.5%;
    padding: 0;
    height: 215px;
    overflow: hidden;
}
.single-product ul.products li.product h3,
.single-product ul.products li.product .price,
.single-product ul.products li.product .button {
	display: none!important;
}

/*--------------------------------------------------------------
## Products page
--------------------------------------------------------------*/

.woocommerce-breadcrumb {
    display: none;
}
.archive #container {
	width: 1156px;
	margin: auto;
	position: relative;
}
.sort_prod {
    position: absolute;
    top: 0px;
}
form.woocommerce-ordering {
    height: 33px;
    width: 160px;
}
select.orderby {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0px!important;
}
.full_page_title {
    width: 100%;
    text-align: center;
    background-image: url("images/grey_pixel.jpg");
    background-repeat: repeat-x;
    background-position: center 15px;
    margin: 0 auto 20px;
    max-width: 1156px;
    position: relative;
}
.page-append {
    width: 160px;
    margin: auto;
    background-color: #fff;
    font-size: 18px;
    font-family: 'Didot', serif;
    line-height: 28px;
}
.full_page_title .page-title {
    font-family: 'Didot', serif;
    margin: 0;
    font-style: italic;
    font-weight: 100;
    font-size: 34px;
    line-height: 34px;
}
.archive #secondary.widget-area {
	width: 225px;
    float: left;
}
.archive section.widget .widget-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #414141;
    background-position: top right;
    background-repeat: no-repeat;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 5px;
    cursor: pointer;
}
.archive section.widget.open .widget-title {
	background-image: url("images/plus.png");
}
.archive section.widget .widget-title {
	background-image: url("images/minus.png");
}
.archive section.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.archive section.widget ul li {
	color: #505050;
    font-size: 12px;
    margin: 6px 0px;
    clear: none;
}
.archive section.widget ul li a{
	color: #505050;
    font-size: 12px;
    text-decoration: none;
}
.archive ul.products {
    float: right;
    width: 920px;
    clear: none!important;
}
.archive ul.products li{
	float: left;
    width: 33%!important;
    margin: 0 0.1% 15px!important;
    height: 375px;
    clear: none!important;
}
.archive ul.products li .button{
	display: none;
}
.archive ul.products li h3 {
	color: #000;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 288px;
    background-image: url("images/grey_opaq.png");
    background-repeat: repeat;
    background-position: center center;
    height: 348px;
    font-size: 27px!important;
    font-weight: 100;
    text-align: center;
    padding-top: 100px!important;
    font-family: 'Didot', serif;
    font-style: italic;
}
.archive ul.products li .price {
    position: absolute;
    top: 16px;
    left: 16px;
	width: 272px;
	height: 331px;
    background-color: transparent;
    padding-top: 140px;
    text-align: center;
    border: 1px solid #000;
    font-size: 18px!important;
    background-image: url("images/info.png");
    background-repeat: no-repeat;
    background-position: center 240px;
}
.archive ul.products li .price del {
    height: 25px;
}
.archive ul.products li .price,
.archive ul.products li h3  {
	/*display: none!important;*/
}
#bottom_banners {
    width: 100%;
    margin: 0 auto;
    margin-right: 5px;
    margin-bottom: 30px;
    float: right;
}
#bottom_banners #sell_banner_wrap {
	width: 458px;
    /*float: left;*/
    height: 213px;
	margin: 0 auto;
}

#bottom_banners #sell_banner_wrap #sell_banner {
    width: 436px;
}
#try_banner_wrap {
	width: 458px;
    float: left;
    height: 213px;
    margin-bottom: 50px;
    padding-top: 10px;
    background-image: url("images/stripes.png");
    background-repeat: repeat;
    background-position: left top;
    float: right;
}
#bottom_banners #try_banner_wrap #try_banner {
	width: 436px;
    height: 191px;
    margin: auto;
    border: 2px solid #000;
}
#bottom_banners #try_banner_wrap #sell_link {
    background-color: #000;
    color: #fff;
}
#bottom_banners #try_banner_wrap #sb_small,
#bottom_banners #try_banner_wrap #sb_large {
    color: #000;
}

/*--------------------------------------------------------------
## Login page
--------------------------------------------------------------*/

.woocommerce-account #content {
	background-image: url("images/login_bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.woocommerce-account aside#secondary {
	display: none;
}
.woocommerce-account .entry-title {
	display: none;
}
.woocommerce-account #customer_login {
    width: 890px;
    margin: auto;
    height: 600px;
    padding-top: 100px;
}
.woocommerce-account #customer_login h2 {
    font-family: 'Didot', serif;
    font-size: 30px;
    color: #fff;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
}
.woocommerce-account form.login, form.register {
    border: none!important;
    padding: 10px 0!important;
}
.woocommerce-account input.input-text {
    height: 48px;
    padding: 2px 15px 0;
    font-size: 14px;
}
.woocommerce-account .lost_password {
    border-top: 2px solid #fff;
    margin-top: 25px;
    padding-top: 10px;
    margin-bottom: 12px;
}
.woocommerce-account .lost_password  a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
.woocommerce-account .form-row {
	padding: 0px!important
}
.woocommerce-account input.button {
    background-color: #000!important;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: 100!important;
    font-size: 14px!important;
    width: 100%;
    height: 65px;
}
.woocommerce-account input.button:hover {
	box-shadow: none;	
}
/*.page-id-33 .form-row label {
	display: none!important;
}*/
.woocommerce-account .explain_registration {
    height: 91px;
    padding-top: 8px;
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    overflow: hidden;
}
.woocommerce-account .col-1,
.woocommerce-account .col-2 {
    max-width: 320px;
}
#back-to-shop {
    position: absolute;
    top: 30px;
    right: 0px;
    border: 1px solid #dedede;
    background-image: url("images/go_to.png");
    background-repeat: no-repeat;
    background-position: 99px center;
}
#back-to-shop a {
	text-decoration: none;
	text-align: 16px;
	font-size: 14px;
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	padding: 5px 30px 5px 10px;
}
.ui-slider-range.ui-widget-header.ui-corner-all,
span.ui-slider-handle.ui-state-default.ui-corner-all {
    background-color: #000!important;
}

/*--------------------------------------------------------------
## CART
--------------------------------------------------------------*/

a.remove {
    color: #000!important;
}
.actions .button {
    background-color: #000!important;
    color: #fff!important;
    font-weight: 100!important;
    font-size: 14px!important;
    text-transform: uppercase;
    border: 1px solid #000!important;
}
.actions .button:hover {
    background-color: #fff!important;
    color: #000!important;
}
.woocommerce-cart table.cart img {
    height: 100%;
    width: auto;
    max-height: 95px;
    max-width: 95px;
}
td.product-thumbnail {
    padding: 7px 0 0 7px!important;
}
td.product-name a {
	font-family: 'Didot', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}
.single span.onsale {
	display: none!important;
}

/*--------------------------------------------------------------
## POST ARCHIVE PAGE
--------------------------------------------------------------*/
.category .site-content{
	/*max-width: 1156px;*/
	margin: 180px auto 0px;
}
.category #primary {
	max-width: 1156px;
	margin: 0px auto;
}
h1.page-title.blog_title {
	width: 320px;
	margin: auto;
	background-color: #fff;
}
.posts_wrapper {
	width: 75%;
	float: left;
	position: relative;
}
.post_categories {
	float: right;
	width: 20%;
}
.post_wrapper:first-child {
	width: 100%;
	height: 512px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 30px;
}
.post_wrapper:first-child .post_text_delimiter {
	width: 70%;
	height: 65%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	margin-top: 0%;
	border: none;
}
.post_wrapper:first-child  .post_text_box {
	border: 1px solid;
	width: 96%;
	height: 93%;
	margin: 2%;
	padding: 3%;
}
.post_wrapper {
	width: 100%;
	height: 440px;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 80%;
	position: relative;
	margin-top: 45px;
}
.post_wrapper .post_text_delimiter {
	background-color: #fff;
	border: 1px solid #ececec;
	position: absolute;
	margin-top: 4%;
	width: 60%;
	height: 84%;
	right: 0px;
	overflow: hidden;
}
.post_wrapper .post_text_box {
	border: none;
	width: 94%;
	height: 90%;
	margin: 3%;
	padding: 3%;
}
.post_wrapper:nth-child(2n+3) {
	background-position: right top;
}
.post_wrapper:nth-child(2n+3) .post_text_delimiter {
	left:0px;
}
.post-categories {
	width: 300px;
	list-style: none;
	padding: 0px;
	margin: auto;
	height: 25px;
	overflow: hidden;
}
.post-categories a {
	color: #000;
	text-align: center;
	display: block;
}
.post_wrapper:first-child  .post_text_box .post_archive_title {
	line-height: 54px;
	font-size: 37px;
}
.post_archive_title {
	text-align: center;
	line-height: 38px;
	font-size: 36px;
	font-style: italic;
	margin: 10px 0 0;
	font-family: 'Didot', serif;
}
.post_archive_text {
	font-size: 14px;
	line-height: 20px;
	color: #7a7a7a;
	margin: 30px 0 50px;
}
.post_wrapper:first-child  .post_text_box .post_archive_text {
	margin: 30px 0;
}
.post_wrapper:first-child  .post_text_box .go_to_fullpost {
	width: 170px;
	height: 35px;
	display: block;
	margin: auto;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 5px;
	height: 40px;
	line-height: 32px;
	text-transform: uppercase;
	font-size: 12px;
}
.post_wrapper .post_text_box .go_to_fullpost:visited {
	color: #000;
}
.post_wrapper:first-child  .post_text_box .go_to_fullpost:visited {
	color: #fff;
}
.go_to_fullpost {
	width: 170px;
	display: block;
	margin: auto;
	text-decoration: underline;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.post_info {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
	color: #181818;
	font-style: italic;
}
#load_more_posts {
	width: 175px;
	height: 55px;
	margin: 40px auto;
	text-align: center;
	line-height: 55px;
	border: 1px solid #dedede;
	color: #393939;
	text-transform: uppercase;
	font-size: 14px;
}
#subscribe {
	width: 100%;
	height: 100px;
	background-color: #000;
	margin-top: 30px;
	position: relative;
}
#subscribe a {
	width: 90%;
	height: 75%;
	display: block;
	border: 1px solid #fff;
	margin: 5%;
	position: absolute;
	color: #fff;
	text-align: center;
	line-height: 73px;
	font-size: 30px;
	font-style: italic;
	font-family: 'Didot', serif;
}
.social_side_wrapper {
	height: 190px;
	width: 100%;
	background-image: url("images/follow_bg_new.png");
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.post_categories .social-icons {
	height: 30px;
	width: 60px;
	position: absolute;
	left: 50%;
	margin-top: 160px;
	margin-left: -30px;
}
.post_categories .social-icons li:first-child {
	/*padding: 0 9px 0 80px;*/
}
.post_categories .social-icons li {
	/*margin-top: 165px;*/
	width: 50%;
}
.post_categories .social-icons li a{
	color: #000;
}
#categories_title {
	clear: left;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	font-size: 34px;
	font-style: italic;
	font-family: 'Didot', serif;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 40px;
}
#post_calendar h3 {
	background-image: url("images/minus.png");
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	color: #414141;
	background-position: top right;
	background-repeat: no-repeat;
	border-bottom: 1px solid #c2c2c2;
	padding-bottom: 5px;
	cursor: pointer;
}
#post_calendar .open h3 {
	background-image: url("images/plus.png");
}

#post_calendar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
#post_calendar ul li {
	color: #505050;
	font-size: 12px;
	margin: 6px 0px;
	clear: none;
}
#post_calendar ul li a {
	color: #505050;
	font-size: 12px;
	text-decoration: none;
}

/*--------------------------------------------------------------
## SINGLE POST PAGE
--------------------------------------------------------------*/

.single-post .site-content {
	width: 98%;
	max-width: 1156px;
	margin: 200px auto 0;
	min-height: 708px;
}
.single-post .entry-meta {
	display: none;
}
.single-post .entry-footer {
	display: none;
}
.single-post .entry-title {
	display: none;
}
h2.comments-title {
	display: none;
}
.single-post .comment-body {
	padding: 15px;
}
.single-post .post_text_box {
	width: 75%;
	float: left;
	position: relative;
}
.single-post .comment.byuser:nth-child(odd) {
	background-color: #ebebeb;
}
ol.comment-list {
	padding: 0px;
	margin: 35px 0;
}
.vcard img {
	display: none;
}
.woocommerce a.button.alt:hover {
	background-color: #fff!important;
	color: #000;
}
#upload-dress p {
	text-align: center;
}
a.back_to_account {
	width: 200px;
	height: 50px;
	background-color: #000;
	display: block;
	margin: auto;
	text-align: center;
	line-height: 52px;
	text-transform: uppercase;
	color: #fff;
}
.page-template-default .site-content {
	width: 95%;
	/*margin: 125px auto 0px;*/
	min-height: calc(100vh - 450px);
}
/*.page-id-414 a:visited {
	color: #000;
}*/
.page-id-414 p {
	text-align: center;
}
.mad-form #terms-submit button {
	width: 70%;
	max-width: 190px;
	margin: 20px auto 0;
}
.sub_form {
	font-size: 13px;
	padding-top: 5px;
	text-align: left;
	width: 190px;
	margin: auto;
}
.sub_form a {
	text-decoration: underline;
}
header#masthead {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
}

/* LOGGED USER MENU */

.user_actions {
	/*height: 30px;*/
	height: 45px;
	width: 100%;
	background-color: #000;
}
.user_actions_links {
	width: 100%;
	max-width: 1156px;
	margin: auto;
	height: 100%;
}
.myaccount_user {
	height: 100%;
	margin: 0;
	padding-top: 14px;
	font-size: 14px;
	float: right;
	color: #fff;
}
.myaccount_user a {
	text-decoration: underline;
	color: #fff;
	padding: 0px 8px;
}
.myaccount_user a:hover {
	text-decoration: none;
}
.myaccount_user a:visited {
	color: #fff;
}
.myaccount_user strong {
    padding-right: 7px;
    text-transform: capitalize;
    font-size: 15px;
}
.follow-bar-center {
	width: 100%;
	margin: auto;
	max-width: 1142px;
}
.be_menu_wrap {
	width: 100%;
	height: 40px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.be_menu {
	width: 100%;
	text-align: center;
	height: 40px;
	font-family: 'AvenirNext-Regular', sans-serif;
}
.be_menu p {
	 height: 30px;
	 margin: 0px;
	 padding-top: 9px;
	 font-size: 14px;
 }
.be_menu p a{
	text-decoration: underline;
}
p.reg_mail {
	text-align: left;
}
.page-template-default .site-content {
	width: 95%!important;
	margin: 140px auto 0px!important;
}
form.lost_reset_password {
	width: 95%;
	max-width: 320px;
	color: #fff;
	text-align: center;
	margin: 30px auto;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
	/*width: 100%;*/
}
.img_prev {
	width: 100%;
	max-width: 100px;
	margin-top: 20px;
	padding: 10px;
}
.woocommerce-error {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px;
	width: 300px;
	border: 1px solid #000;
	z-index: 30;
}
.woocommerce-message {
    z-index: 30;
}
.tp-loader { visibility:hidden; display:none; }

/* FROM STYLES */

.mad-form{ width: 1140px; margin: 0 auto; margin-bottom: 50px }

.mad-form h1 .big-title, .mad-form h2, .mad-form h3, .entry-title{ font-family: 'Didot', serif; font-style: italic }

.entry-title{text-align: center}

.mad-form h1{text-align: center; font-family: 'Avenir', sans-serif; font-size: 16px; text-transform: uppercase; font-weight: 500 }
.mad-form h1 .big-title{ font-size: 50px; text-transform: capitalize; font-style: italic }

.mad-form .form-section{border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; margin-bottom: 20px }
.mad-form .form-section.noborder{border: 0}
.mad-form .form-section h2{ font-weight: 100; text-transform: uppercase; font-size: 18px}

.mad-form .form-row{display: inline-block; width: 49.8%; font-family: 'AvenirNext-Regular', sans-serif; margin-bottom: 20px; vertical-align: middle }
.mad-form .form-row.text-center{text-align: center}
.mad-form .form-row.text-right{text-align: right}

.mad-form .form-row input[type="text"], .mad-form .form-row input[type="email"], .mad-form .form-row input[type="tel"], .mad-form .form-row input[type="password"], .mad-form .form-row select{ font-family: 'Avenir', sans-serif; appearance: textfield; -ms-appearance: textfield; -o-appearance: textfield; -webkit-appearance: textfield; -moz-appearance: textfield; background-color: white; border-radius: 0; border: 1px solid #dfdfdf; font-size: 14px; padding: 5px 10px; width: 100% }

.mad-form .form-row select{background: url("images/arrow_down_black.png") no-repeat 97% 50% }

.mad-form .form-row.larger{width: 100% }


.mad-form .form-row.small-15{ width: 14% }
.mad-form .form-row.small-20{ width: 15% }
.mad-form .form-row.small-25{ width: 24.7%; padding-left: 0px!important;}
.mad-form .form-row.small-30{ width: 21.8%; padding-right: 0px!important;}

.mad-form .form-row label{ font-size: 14px; margin-right: 10px;}
.mad-form .form-row label input[type="radio"]{ margin-right: 10px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none }

.mad-form #foto-container .form-row label{text-transform: uppercase; font-weight: bold; cursor: pointer}
.mad-form #foto-container .form-row label i{  float: left; font-size: 40px; color: black; border: 1px solid #dfdfdf; border-radius: 100%; padding: 20px; font-weight: 100; font-style: normal; line-height: 20px; margin-right: 15px }
.mad-form #foto-container .form-row label small{ font-size: 14px; text-transform: lowercase; font-weight: normal; }
.mad-form #foto-container .form-row input[type="file"]{ display: none }

.mad-form .form-row.marginleft{ padding-left: 30px; }
.mad-form .form-row.marginright{ padding-right: 30px; }
.mad-form .form-row.marginleft-double{ padding-left: 60px }
.mad-form .form-row.marginright-double{ padding-right: 60px }

.mad-form .form-row .advice{padding-top: 20px; padding-bottom: 20px}
.mad-form .form-row .advice a{font-weight: bold; text-decoration: underline}
.mad-form .form-row .advice a:visited{color: black}

.mad-form textarea{ border-radius: 0; -webkit-appearance: textfield; -moz-appearance: textfield; padding: 15px; font-family: 'Avenir', sans-serif; font-size: 14px; min-height: 200px }

.mad-form #price-you-get{display: inline-block}

.mad-form #terms-submit h3{ text-transform: uppercase}
.mad-form #terms-submit button{ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-text-shadow: none; -moz-text-shadow: none; text-shadow: none; border: 0; border-radius: 0; font-family: 'Avenir', sans-serif; background-color: black; color: white; text-transform: uppercase; float:right; padding: 20px 40px; vertical-align: bottom; margin-bottom: 0; margin-top: 20px }

.mad-form .inblock{display: inline-block; width: 49.8%; }
.mad-form .circle{ border: 1px solid #000; border-radius: 100%; font-style: normal; padding: 0px 10px;}
.mad-form .inblock a{text-transform: uppercase}

.mad-form .form-lower{border-top: 1px solid #dfdfdf; text-align: center }
.mad-form .form-lower h3{text-align: left;}
.mad-form #terms-submit.form-lower button{float: none; margin-left: 20px; margin-right: 20px}

.mad-form .form-error{border: 1px solid #cc0000}

.mad-form .form-section a:visited{color: black}

.woocommerce-checkout .notes{width: 100% }
.woocommerce-checkout .form-row-wide{width: 100%}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order{ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-text-shadow: none; -moz-text-shadow: none; text-shadow: none; border: 0; border-radius: 0; font-family: 'Avenir', sans-serif; background-color: black; color: white; text-transform: uppercase; float:right; padding: 20px; vertical-align: bottom; margin-bottom: 0; margin-top: 20px }
.woocommerce-checkout #payment div.form-row{width: 100%}

.woocommerce div.product .product_title{text-align: left}
.woocommerce div.product form.cart div.quantity input{display: none}

.woocommerce #content div.product div.summary .size{ font-family: 'AvenirNext-Regular', sans-serif; border: 1px solid #dfdfdf; text-align: center; padding: 10px 40px}

.woocommerce-account.logged-in #content{ background: none; width: 90%; margin: 125px auto; }
.woocommerce-account h2, .woocommerce-account h3{ font-family: 'Didot', sans-serif }
.woocommerce-account a{color: #000}

.woocommerce table.shop_table{border-radius: 0px}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{ background-color: #000; border-radius: 0px; color: white; font-weight: normal; letter-spacing: 1px; text-transform: uppercase; border: 1px solid #000!important;}

.woocommerce-account.logged-in .blocks{display: inline-block; width: 49.8%}

.page-template-page-mydresses #content{width: 90%; margin: 145px auto;}
.page-template-page-mydresses #content h2, .page-template-page-mydresses #content h3{font-family: 'Didot', sans-serif }

.page-template-page-mydresses #content .dresses-container{border: 1px solid rgba( 0, 0, 0, 0.1); text-align: center; clear: both;}
.page-template-page-mydresses #content .dresses-container .heading{padding-top: 15px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid rgba( 0, 0, 0, 0.1) }
.page-template-page-mydresses #content .dresses-container .heading div{display: inline-block; width: 20.9%; text-transform: uppercase; font-weight: bold}
.page-template-page-mydresses #content .dresses-container .heading div.foto, .page-template-page-mydresses #content .dresses-container .heading div.azioni{width: 6%}

.page-template-page-mydresses #content .dresses-container .prod-container div{display: inline-block; width: 20.9%; vertical-align: middle; padding-bottom: 5px; padding-top: 5px }
.page-template-page-mydresses #content .dresses-container .prod-container div.foto, .page-template-page-mydresses #content .dresses-container .prod-container div.azioni{width: 6%; line-height: 0.0;}
.page-template-page-mydresses #content .dresses-container .prod-container div.foto img{max-width: 100%}
.page-template-page-mydresses #content .dresses-container .prod-container:nth-child( odd ){ background-color: #ebebeb}

.page-template-page-mydresses #content #filter{float: right; font-weight: normal; background-color: white; border-radius: 0px; padding: 5px 40px 5px 10px; -webkit-appearance: textfield; font-family: 'AvenirNext-Regular', sans-serif; background: url("images/arrow_down_black.png") no-repeat 97% 50%  }

@media ( max-width: 768px ){
	.page-template-page-mydresses #content .dresses-container{text-align: left }
	.page-template-page-mydresses #content .dresses-container .foto{display: none !important;}
	.page-template-page-mydresses #content .dresses-container .dati{display: none !important;}
	.page-template-page-mydresses #content .dresses-container .heading div, .page-template-page-mydresses #content .dresses-container .prod-container div{width: 33.2%; padding-left: 10px}
}

#sendtofriend input{ border-radius: 0px; font-family: 'AvenirNext-Regular', sans-serif; width: 49%; font-size: 13px; }
#sendtofriend button{ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-text-shadow: none; -moz-text-shadow: none; text-shadow: none; border: 0; border-radius: 0; font-family: 'Avenir', sans-serif; background-color: black; color: white; text-transform: uppercase; float:right; margin-right: 1%;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-top: 9px;
    padding: 8px 20px; }

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{font-family: 'AvenirNext-Regular', sans-serif}

.woocommerce-account #content{width: 90%; margin: 120px auto;}
.woocommerce-account #content h2, .woocommerce-account #content h3{font-family: 'Didot', sans-serif }

.woocommerce-account #content .dresses-container{border: 1px solid rgba( 0, 0, 0, 0.1); text-align: center}
.woocommerce-account #content .dresses-container .heading{padding-top: 15px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid rgba( 0, 0, 0, 0.1) }
.woocommerce-account #content .dresses-container .heading div{display: inline-block; width: 20.9%; text-transform: uppercase; font-weight: bold}
.woocommerce-account #content .dresses-container .heading div.foto, .woocommerce-account #content .dresses-container .heading div.azioni{width: 6%}

.woocommerce-account #content .dresses-container .prod-container div{display: inline-block; width: 20.9%; vertical-align: middle; padding-bottom: 5px; padding-top: 5px }
.woocommerce-account #content .dresses-container .prod-container div.foto, .woocommerce-account #content .dresses-container .prod-container div.azioni{width: 6%; line-height: 0.0;}
.woocommerce-account #content .dresses-container .prod-container div.foto img{max-width: 100%}
.woocommerce-account #content .dresses-container .prod-container:nth-child( odd ){ background-color: #ebebeb}

.woocommerce-account #content #filter{float: right; font-weight: normal; background-color: white; border-radius: 0px; padding: 5px 40px 5px 10px; -webkit-appearance: textfield; font-family: 'AvenirNext-Regular', sans-serif; background: url("images/arrow_down_black.png") no-repeat 97% 50%  }

@media ( max-width: 768px ){
	.woocommerce-account #content .dresses-container{text-align: left }
	.woocommerce-account #content .dresses-container .foto, .woocommerce-account #content .dresses-container .azioni{display: none !important;}
	.woocommerce-account #content .dresses-container .dati{display: none !important;}
	.woocommerce-account #content .dresses-container .heading div, .woocommerce-account #content .dresses-container .prod-container div{width: 33.2%; padding-left: 10px}
	footer .one-quarter{width: 100%; margin: 0 !important;}
}

.woocommerce-account .dresses-container a:visited{color: black}
.page-template-page-mydresses .dresses-container a:visited {color: black}


.page-template-howtobuy-php .site-content, .page-template-howtosell-php .site-content, .page-template-howitworks-php .site-content{max-width: 1156px; margin: 140px auto; width: 100%;}
.page-template-howitworks-php p.large_p_title, .page-template-howtobuy-php p.large_p_title, .page-template-howtosell-php p.large_p_title{width: 40%}

#menu-how.three-part{border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; padding-top: 30px; padding-bottom: 30px; }
#menu-how.three-part div{display: inline-block; vertical-align: middle; width: 33%; text-align: center; font-family: 'Didot', serif; font-size: 18px; text-transform: uppercase; font-style: italic }
#menu-how.three-part div.center{margin-left: 20px; margin-right: 20px; width: 29.8%}

#content-page.three-part .menu-how{ float: left; width: 96%; text-align: center; font-size: 16px; /*height:385px;*/}
/*#content-page.three-part div.text.center{ width: 100%}*/
#content-page.three-part .menu-how .text {
	font-size: 22px;
	font-family: "Didot", Serif;
	font-style: italic;
	padding-bottom: 3px;
}
#content-page.three-part div.text img{ margin-top: 50px; margin-bottom: 50px}
.menu-how {
	width: 32%!important;
	padding: 20px 1%;
	border-top: 1px solid #dfdfdf;
	/*border-bottom: 1px solid #dfdfdf;*/
}
.menu-how img {
	margin-top: 3px;
	margin-bottom: 8px;
}
.page-template-howtosell-php #content-page.three-part div{vertical-align: top}

#bottom-icons{ display: block; width: 100%; padding-top: 50px; clear: left;}
#bottom-icons p{ margin-top: 20px; margin-bottom: 20px; }
#bottom-icons i{ color: #ecdda0; font-size: 20px }

.cart-empty, .return-to-shop{text-align: center}
.black-button{ text-align: center; background-color: #000; text-transform: uppercase; width: 150px; margin: 0 auto; padding-top: 20px; padding-bottom: 20px; color: #fff; }

.woocommerce .whishlist-count{border-top: 4px solid #000; padding-top: 20px; font-family: 'Didot', sans-serif}
.woocommerce .whishlist-count .big{font-size: 35px; font-style: italic}

.woocommerce #wishlist-number{margin-top: 20px; background: url("images/faves.jpg"); background-repeat: no-repeat; background-position: center; height: 160px; font-size: 40px; color: white; padding-top: 50px; text-align: center; }

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce #payment #place_order:hover, .woocommerce-page #payment #place_order:hover{ background-color: white; color: black; border: 1px solid black}

