html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: #0a0a0a;
	text-align: center;
	font-family: 'Open Sans', sans-serif;

	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	
	box-sizing: border-box;
	min-height: 100%;
	position: relative;
}

h1,
h2 {
	color: white;
	font-family: 'Arapey', serif;
	font-style: italic;
}

h1 {
	font-size: 80px;
	margin: auto;
	padding-top: 180px;
	padding-bottom: 40px;
}

h2 {
	margin-top: 0;
	padding: 25px 20px 0;
	font-size: 34px;
	font-weight: 400;
	position: relative;
}

h2:after {
	content: "";
	width: 116px;
	height: 2px;
	background: white;
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -58px;
	
}

a {
	color: white;
	text-decoration: none;
}


.cs-content {
	background-image: url('../images/bg.jpg');	
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0 20px 30px;
}


header {
	background: rgba(255,255,255, .9);
	padding: 15px 20px 20px;
}

header img {
	max-width: 100%;
}

.footer-bottom {
	background: #0a0a0a;
	color: white;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 40px;
}

.footer-bottom a {
	text-transform: uppercase;
	text-decoration: underline;
}

.footer-bottom a:hover {
	text-decoration: none;	
}

.footer-bottom p {
	margin: 0;
	padding: 0;
}

.container {
	width: 1280px;
	max-width: 100%;
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.text-wrap {
	border: 3px solid white;
	padding: 10px;
}

.text-content {
	background: rgba(255,255,255, .7);
	padding: 20px;
	text-align: justify;
	
	font-size: 18px;
}


#mc_embed_signup {
	background: rgba(0,0,0, .7);
	padding-bottom: 25px;
}

.wrap-fields {
	margin: auto;
}

.mc-field-group,
.mc-field-submit {
	padding: 7px;
	text-align: center;
	margin-bottom: 15px;
}

.mc-field-group input {
	background: transparent;
	border: 2px solid white;
	color: white;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	font-size: 20px;
}

.mc-field-submit input {
	height: 44px;
	font-family: 'Arapey', serif;
	font-style: italic;
	font-size: 20px;
	line-height: 40px;
	padding: 0 20px;
	border: none;
	background: white;
	color: black;
}



#mc_embed_signup div.mce_inline_error {
    margin: 0!important;
    padding: 0px!important;
    background-color: transparent!important;
    font-weight: normal!important;
    color: red!important;
    font-size: 13px;
    display: none;
}

#mce-error-response {
    color: red;	
}

#mce-success-response {
	color: white;
}


@media screen and (min-width: 769px) {
	body {
		background-image: url('../images/bg.jpg');
	}
	
	.cs-content {
		background-image: none;
	}
	
	.wrap-fields {
		display: table;
	}
	
	.mc-field-group,
	.mc-field-submit {
		display: table-cell;
		vertical-align: top;
		margin-bottom: auto;
	}
}

@media screen and (min-width: 1024px) {

	body {
		padding-bottom: 240px;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	
	.footer-bottom {
		height: 40px;
	}

	.container .left,
	.container .right {
		max-width: 50%;
	}
	
	.container .left {
		float: left;
	}
	
	.container .right {
		float: right;
	}
}
