@media (min-width: 1171px) and (max-width: 1439px) {


    /*-----------------------------
      SINGLE PRODUCT
   -----------------------------*/

    .product, type-product.status-publish {
        width: 100%;
        max-width: 1156px;
    }
    .product .images {
        width: 68%!important;
    }
    .summary.entry-summary {
        width: 29%!important;
        margin-left: 3%;
    }
    .thumbnails.columns-3 {
        width: 35%!important;
    }
    a.woocommerce-main-image.zoom {
        width: 65%!important;
        height: 524px!important;
        background-color: #fff;
    }
    .thumbnails a {
        height: 131px;
    }
    .product_title {
        font-size: 30px;
    }
    #qea {
        width: 60%;
        margin-left: 2%;
    }
    button#send-question {
        width: 100%;
    }
    .related.products {
        width: 34.5%;
        margin-left: 2%;
    }



}

@media (min-width: 1024px) and (max-width: 1170px) {
	
	body {
		    /*background-color: rebeccapurple;*/
	}

    /*-----------------------------
       HOME
    -----------------------------*/

	.logo-container {
        width: 19%;
        margin-right: 1%;
        margin-left: 2%;
	}
	.navigation-main {
	    width: 63%;
	}
	.navigation-main ul.menu li {
	    padding: 0 1.9%;
	}
	.cta-internal {
	    width: 15%;
	}
	.slider_button {
	    width: 5%;
	    min-width: 10px;
	}
	.gallery-wrap {
	    width: 90%;
	}
	#hp_tc_left_column {
    	width: 63%;
		margin-right: 2%;
    }
    #hp_tc_right_column {
        width: 34%;
        margin-right: 1%;
	}
	#top_pick {
	    width: 95%;
	    margin: 10px 0 0 4%;
	    background-position: center left;
	}
	.pick_text#pt_top {
	    width: 60%;
	    top: 195px;
	    right: 20px;
        left: auto;

	}
	.pick_title {
	    font-size: 37px;
	    margin: 20px 0 15px 0;
	}
	.pick_text#pt_bottom {
        width: 60%;
        top: 594px;
        left: 20px;
	}
	#bottom_pick {
        /*width: 51%;
        margin: 0px 0 80px 48%;
        position: relative;*/
        width: 95%;
        margin: 10px 0 0 4%;
        background-position: center left;
	 }
    #bottom_pick .img_caption {
        margin-top: 355px;
        margin-left: -100px;
        left: 50%;
    }
    #top_pick .img_caption{
        margin-top: 390px;
        margin-left: -100px;
        left: 50%;
    }
    .arr_right_img,
    .arr_left_img {
        /*width: 49%;*/
    }
    #hp_tc_right_column .col_title {
        width: 100%;
    }
    #sell_banner {
        width: 95%;
    }
    #banner_large {
        width: 98%;
    }
    .hot_item {
         width: 23%;
         margin: 0 0.5%;
     }
    .hot_item:first-child {
        margin: 0 0.5%;
    }
    #shop_collection {
        width: 98%;
    }
    #news_centered {
        width: 95%;
    }
    footer#colophon .container {
        width: 100%;
    }
    .one-quarter:first-child {
        width: 28%;
        margin-left: 2%;
    }
    .one-third:first-child {
        width: 32.3%;
        margin-left: 1%;
    }
    .one-quarter {
        width: 16%;
        margin-left: 4%;
    }

    /*-----------------------------
      SINGLE PRODUCT
   -----------------------------*/

    .full_page_title {
        width: 98%;
    }
    .product, type-product.status-publish {
        width: 100%;
    }
    .product .images {
        width: 65%!important;
        margin-left: 3%;
    }
    .summary.entry-summary {
        width: 29%!important;
        margin-left: 0%;
        margin-right: 3%;
    }
    .thumbnails.columns-3 {
        width: 35%!important;
    }
    a.woocommerce-main-image.zoom {
        width: 65%!important;
        height: 524px!important;
        background-color: #fff;
    }
    .thumbnails a {
        height: 131px;
    }
    .product_title {
        font-size: 30px;
    }
    #qea {
        width: 60%;
        margin-left: 2%;
    }
    button#send-question {
        width: 100%;
    }
    .related.products {
        width: 34.5%;
        margin-left: 2%;
    }

    /*-----------------------------
       PRODUCT LIST
   -----------------------------*/

    .archive #secondary.widget-area {
        width: 19%;
        margin-left: 1%;
    }
    .sort_prod {
        left: 10px;
    }
    .woocommerce ul.products li.product .onsale {
        z-index: 20;
        top: 4px;
        right: 4px;
    }
    .archive ul.products {
        width: 78%;
        margin-right: 1%;
    }
    .archive #container {
        width: 100%;
    }
    .archive ul.products li {
        width: 33%!important;
        margin: 0 0.1% 1%!important;
        height: 320px;
        overflow: hidden;
    }
    .archive ul.products li h3 {
        width: 94%;
        left: 3%;
        top: 3%;
        height: 91%;
        font-size: 22px!important;
    }
    .archive ul.products li .price {
        top: 6%;
        left: 6%;
        width: 88%;
        height: 85%;
        background-position: center 220px;
    }
    #bottom_banners {
        max-width: 935px;
        width: 100%;
    }
    .page-template-howtobuy-php .site-content, .page-template-howtosell-php .site-content, .page-template-howitworks-php .site-content {
        max-width: 1156px;
        margin: 180px auto;
        width: 100%;
    }
    .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
        margin-right: 2%;
        width: 45%;
    }
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
        margin-left: 2%;
    }


}

@media (min-width: 769px) and (max-width: 1023px) {
	
	body {
		    /*background-color: bisque;*/
	}

    /*-----------------------------
      HOME
   -----------------------------*/

    #menu_wrapper {
        /*height: 155px;*/
        height: 145px;
    }
    #home_menu_container {
        height: 100%;
    }
    .logo-container {
        width: 226px;
        height: 75px;
        float: none;
        margin: 0px auto 0px;
        padding-top: 10px;
    }
    .navigation-main ul.menu {
        padding: 0;
        margin: 0;
        height: 70px;
        line-height: 70px;
    }
    #menu_container .navigation-main ul.menu {
        padding: 0;
        margin: 0;
        height: 70px;
        line-height: 70px;
    }
    .cta-internal ul.cta-list li {
        margin-top: 17px;
    }
    .navigation-main {
        float: left;
        width: 80%;
    }
    .cta-internal {
        float: right;
        width: 20%;
        height: 50px;
        padding-top: 10px;
    }
    #menu_container .cta-internal {
        float: right;
        height: 50px!important;
        padding-top: 10px;
    }
    #menu_container .cta-internal ul.cta-list li {
        margin-top: 17px!important;
    }
    .navigation-main ul.menu li {
        padding: 0 1.7%;
    }
    .slider_button {
        width: 5%;
        min-width: 10px;
    }
    .gallery-wrap {
        width: 90%;
    }
    #hp_tc_left_column {
        width: 100%;
        margin-right: 0px;
    }
    .pick_text#pt_top {
        width: 360px;
        right: 5%;
        left: inherit;
    }
    .pick_text#pt_bottom {
        left: 3.5%;
    }
    #bottom_pick {
        margin: 0 9% 80px 0;
        float: right;
    }
    #hp_tc_right_column {
        width: 100%;
    }
    #hp_tc_right_column .col_title {
        width: 80%;
    }
    #img_box_arrivals {
        margin: 15px auto;
        width: 60%;
    }
    .arr_left_img,
    .arr_right_img{
        /*width: 48%;*/
        width: 100%;
        min-height: 320px;
        background-size: cover;
        background-position: center top!important;
    }
    #sell_banner_wrap {
        width: 100%;
        max-width: 428px;
        margin: auto;
    }
    #banner_large {
        width: 98%;
    }
    .hot_item {
        width: 23%;
        margin: 0 0.5%;
    }
    .hot_item:first-child {
        margin: 0 0.5%;
    }
    .hot_deal_title {
        font-size: 13px;
        overflow: hidden;
    }
    #shop_collection {
        width: 98%;
    }
    #newsletter_title {
        width: 49%;
        margin-left: 2%;
        font-size: 14px;
        line-height: 18px;
        padding-top: 32px;
    }
    #newsletter_form {
        width:48%;
        float: right;
    }
    #newsletter_box #news_form {
        width: 98%;
    }
    input#input_email {
        width: 60%;
    }
    footer#colophon .container {
        width: 100%;
    }
    .one-quarter:first-child {
        width: 28%;
        margin-left: 2%;
        margin-top: 30px;
    }
    .one-third:first-child {
        width: 32.3%;
        margin-left: 1%;
    }
    footer .one-quarter {
        width: 20%!important;
        margin-left: 2%;
     }
    .footer-subtitle {
        width: 100%;
    }
    .lower-footer ul.payment-methods {
        margin: 12px auto 0;
        width: 193px;
        float: none;
    }
    .lower-footer ul.info-links li {
        padding: 0 5px;
    }
    .lower-footer ul.info-links li a {
        font-size: 9px;
    }


    /*-----------------------------
         SINGLE PRODUCT
      -----------------------------*/

    #sub_menu_wrapper {
       /*height: 180px;*/
       height: 145px;
    }
    #menu_container {
        height: 100%;
    }
    .category .site-content {
        width: 100%;
        margin: 265px 0px 0px;
    }
    .full_page_title {
        width: 98%;
    }
    span.onsale {
        z-index: 20;
    }
    .product, type-product.status-publish {
        width: 100%;
    }
    .product .images {
        width: 60%!important;
        float: left!important;
    }
    .summary.entry-summary {
        width: 38%!important;
        margin-left: 2%;
    }
    .thumbnails.columns-3 {
        width: 100%!important;
    }
    a.woocommerce-main-image.zoom {
        width: 100%!important;
        height: 670px!important;
        background-color: #fff;
    }
    .thumbnails a {
        height: 61px;
        width: 25%!important;
        clear: none!important;
        margin: 5px 0!important;
    }
    .product_title {
        font-size: 30px;
    }
    #qea {
        width: 60%;
        margin-left: 1%;
    }
    button#send-question {
        width: 100%;
    }
    .related.products {
        width: 36.5%;
        margin-left: 2%;
    }
    #qea h1,
    .related.products h2 {
        font-size: 38px;
    }
    .single-product ul.products li.product {
        height: 160px;
    }
    .full_page_title .woocommerce-breadcrumb, #back-to-shop {
        display: none;
    }

    /*-----------------------------
      PRODUCT LIST
  -----------------------------*/

    .archive #secondary.widget-area {
        width: 29%;
        margin-left: 1%;
    }
    .sort_prod {
        left: 10px;
    }
    .woocommerce ul.products li.product .onsale {
        z-index: 20;
        top: 4px;
        right: 4px;
    }
    .archive ul.products {
        width: 67%;
        margin-right: 1%;
    }
    .archive #container {
        width: 100%;
    }
    .archive ul.products li {
        width: 49%!important;
        margin: 0 0.1% 1%!important;
        height: 300px;
        overflow: hidden;
    }
    .archive ul.products li h3 {
        width: 94%;
        left: 3%;
        top: 3%;
        height: 91%;
        font-size: 22px!important;
    }
    .archive ul.products li .price {
        top: 6%;
        left: 6%;
        width: 88%;
        height: 85%;
        background-position: center 220px;
    }
    #bottom_banners {
        max-width: 935px;
        width: 100%;
        margin-right: 0px;
    }
    #bottom_banners #sell_banner_wrap,
    #bottom_banners #try_banner_wrap {
        width: 49%;
    }
    #bottom_banners #sell_banner_wrap #sell_banner,
    #bottom_banners #try_banner_wrap #try_banner{
        width: 93%;
    }

    /*-----------------------------
    SINGLE BLOG POST
-----------------------------*/

    .single-post .post_text_box {
        width: 70%;
    }
    .post_categories {
        width: 25%;
    }
    .post_categories .social-icons li:first-child {
        /*padding: 0px 9px 0 56px;*/
    }

    /*-----------------------------
   BLOG ARCHIVE
-----------------------------*/

    .posts_wrapper {
        width: 100%;
    }
    .post_categories {
        width: 100%;
        margin-top: 20px;
    }
    #subscribe {
        width: 30%;
        margin: auto;
    }
    .post_categories .social-icons li:first-child {
        /*padding: 0px 9px 0 343px;*/
    }
    #post_calendar {
        width: 100%;
        max-width: 320px;
        margin: 0 auto 30px;
    }
    .whishlist-count {
        text-align: center;
    }

    .page-template-howtobuy-php .site-content, .page-template-howtosell-php .site-content, .page-template-howitworks-php .site-content{max-width: 1156px; margin: 175px auto; width: 100%;}
    .page-template-default .site-content {
        width: 95%;
        margin: 225px auto 0!important;
        min-height: calc(100vh - 450px);
    }
    .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
        float: none;
        width: 100%;
        margin: auto;
    }
    #content-page.three-part .menu-how {
        /*height: 450px;*/
    }
    .page-template-howitworks .paragraph_title,
    .page-template-howtobuy .paragraph_title,
    .page-template-howtosell .paragraph_title{
        margin: 60px auto 25px;
    }
	
}

@media (min-width: 1px) and (max-width: 768px) {
	
	body {
       /* background-color: grey;*/
    }

    /*-----------------------------
      HOME
   -----------------------------*/

    .lower-footer {
        border: none;
    }
    .follow-bar {
        display: none;
    }
    #menu_wrapper {
        width: 100%;
        /*height: 80px;*/
        position: absolute;
        margin-top: 0px;
        z-index: 10;
        /* overflow: hidden; DO NOT FORGET!!!!!!!!! */
        background-color: #fff!important;
    }
    .logo-container {
        width: 160px;
        height: 75px;
        float: left;
        position: absolute;
        margin: 20px 0 10px -80px;
        left: 50%;
    }
    #white_v {
        display: none!important;
    }
    #color_v {
        display: block!important;
    }
    #mobile_menu_trigger {
        width: 24%;
        max-width: 65px;
        float: left;
        height: 70px;
        margin-top: 20px;
        display: block;
        background-image: url("../images/hamb.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 33%;
    }
    .navigation-main {
        background-color: #fff;
        display: none;
        width: 100%;
    }
    #home_menu_container .cta-internal,
    #menu_container .cta-internal {
        float: none;
        height: 80px;
        position: absolute;
        right: 0px;
        width: 24%;
        max-width: 45px;
    }
    li.cta.favs, li.cta.cart {
        display: none;
    }
    li.cta.account {
        width: 70%;
        padding: 5px 25px;
    }
    li.cta.account a i {
        font-size: 25px;
    }
    .navigation-main ul.menu {
        height: 190px;
        line-height: 100px;
        width: 100%;
    }
    .navigation-main ul.menu li a,
    .cta-internal ul.cta-list a{
        color:#000;
    }
    .navigation-main ul.menu li {
        list-style: none;
        float: left;
        padding: 0 20px;
        width: 100%;
        height: 30px;
    }
    .navigation-main ul.menu li a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 30px;
    }
    section.splash {
        padding-top: 5px;
        margin-top: 80px;
        height: 560px;
    }
    section.splash .container {
        margin: 180px auto 0px;
    }
    section.splash .container h1 {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 20px;
        margin: 0 auto 20px;
        width: 100%;
    }
    p#head_subtitle {
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0px;
    }
    .hover-cta {
        width: 90%;
    }
    .slider_button {
        width: 10%;
        min-width: 10px;
    }
    .gallery-wrap {
        width: 80%;
    }
    #hp_tc_left_column {
        width: 100%;
        margin-right: 0px;
    }
    #hp_tc_left_column .col_title {
        width: 100%;
    }
    #top_pick {
        width: 100%;
        height: 400px;
        margin: 10px 0 210px 0;
    }
    #top_pick .img_caption,
    #bottom_pick .img_caption {
        margin-top: 0px;
        left: 50%;
        margin-left: -100px;
        line-height: 29px;
    }
    .pick_text#pt_top {
        width: 100%;
        top: 430px;
        left: 0px;
    }
    .pick_title {
        font-size: 26px;
        line-height: 30px;
    }
    #bottom_pick {
        width: 100%;
        height: 360px;
        margin: 0 0 165px;
    }
    .pick_text#pt_bottom {
        width: 100%;
        top: 1000px;
        left: 0px;
        margin-top: -45px;
    }

    #pt_top .pick_par {
        max-height: none;
        line-height: 16px;
    }

    #hp_tc_right_column .col_title {
        width: 100%;
    }
    #hp_tc_right_column {
        width: 100%;
    }
    .arr_left_img,
    .arr_right_img{
        width: 100%;
        height: 380px;
        margin: 12px auto;
        background-size: cover;
    }
    #arr_l_img1,
    #arr_r_img1,
    #arr_l_img2,
    #arr_r_img2 {
        float: none;
    }
    #img_box_arrivals a {
        width: 90%;
        max-width: 320px;
        display: block;
        margin: auto;
        float: none;
    }
    #sell_banner {
        width: 95%;
    }
    #banner_large {
        width: 100%;
        height: 120px;
        background-size: cover;
    }
    #banner_title {
        margin: 11px auto 0;
        width: 80%;
        text-align: center;
    }
    .hot_item {
        float: none;
        width: 90%;
        margin: 10px auto;
    }
    .hot_item:first-child {
        margin-left: auto;
    }
    #shop_collection {
        width: 100%;
    }
    #news_centered {
        height: 145px;
    }
    #banner_text {
        margin: 10px auto;
        width: 80%;
        text-align: center;
    }
    #newsletter_title {
        width: 320px;
        float: none;
        font-size: 11px;
        background-position: 10px 26px;
        padding: 27px 0 10px 50px;
        line-height: 13px;
        margin: 0 auto;    
    }
    #newsletter_form {
        width: 320px;
        float: none;
        margin: auto;
    }
    #newsletter_box #news_form {
        width: 100%;
        float: none;
        height: 46px;
        margin-top: 8px;
    }
    #news_submit {
        margin-left: 1%;
        padding: 0 2%;
    }
    input#input_email {
        width: 63%;
    }
    footer#colophon .container {
        width: 100%;
    }
    .one-quarter:first-child {
        width: 98%;
        margin: 20px 1%;
    }
    .footer-logo {
        width: 230px;
        margin: auto;
        padding-top: 20px;
    }
    .footer-subtitle {
        width: 96%;
        margin: 15px auto;
        font-size: 16px;
    }
    .footer-follow {
        margin-left: 2%;
    }
    .one-quarter {
        width: 96%;
        margin-top: -15px;
        margin: -15px 2% 0;
        text-align: center;
    }
    .one-third {
        width: 100%;
    }
    .lower-footer ul.info-links li:first-child {
        padding: 0 10px 10px 0;
    }
    .footer-follow-wrap {
        width: 190px;
        margin: auto;
        height: 35px;
    }
    .upper-footer .address {
        width: 150px;
        margin: auto;
    }
    .upper-footer a.phone-cta,
    .upper-footer a.mail-cta {
        width: 160px;
        margin: auto;
        margin-top: 13px;
    }
    .lower-footer p.copyright {
        width: 100%;
        text-align: center;
    }
    .lower-footer ul.payment-methods {
        float: none;
        width: 195px;
        height: 23px;
        margin: auto;
    }
    .lower-footer ul.info-links {
        float: none;
        width: 280px;
        height: 20px;
        margin: 16px auto;
    }
    .add-to-wishlist {
        right: 18%!important;
    }

    /*-----------------------------
          SINGLE PRODUCT
       -----------------------------*/
    header#masthead {
        position: absolute;
        margin-top: 0px;
    }

    #sub_menu_wrapper {
        width: 100%;
        /*height: 80px;*/
        /*position: absolute;
        margin-top: 0px;
        z-index: 10;*/
        /*overflow: hidden;  DO NOT FORGET!!!!!!!!! */
        background-color: #fff!important;
    }
    .full_page_title .woocommerce-breadcrumb,
    #back-to-shop {
        display: none;
    }
    .site-content {
        width: 100%;
        margin: 140px 0px 0px;
    }
    .full_page_title {
        width: 98%;
    }
    span.onsale {
        z-index: 20;
    }
    .product, type-product.status-publish {
        width: 100%;
    }
    .product .images {
        width: 100%!important;
    }
    .summary.entry-summary {
        width: 96%!important;
        margin: auto!important;
        float: none!important;
        clear: left;
        padding-bottom: 20px;
    }
    .thumbnails.columns-3 {
        width: 100%!important;
    }
    a.woocommerce-main-image.zoom {
        width: 100%!important;
        height: 480px!important;
        background-color: #fff;
    }
    .thumbnails a {
        height: 61px;
        width: 25%!important;
        clear: none!important;
        margin: 5px 0!important;
    }
    .product_title {
        font-size: 30px;
    }
    #qea {
        width: 96%;
        margin: auto;
        float: none;
        clear: left;
        padding-top: 10px;
    }
    button#send-question {
        width: 100%;
    }
    .related.products {
        width: 36.5%;
        margin-left: 2%;
    }
    #qea h1,
    .related.products h2 {
        font-size: 30px;
        text-align: center;
    }
    .single-product ul.products li.product {
        height: 160px;
    }
    .ask_title {
        text-align: center;
    }
    .question-form {
        margin-top: 50px;
        padding: 10px;
    }
    .question-form h2 {
        font-size: 30px;
    }
    .question-form .form-row {
        width: 100%;
    }
    .related.products {
        width: 96%;
        margin: auto;
        float: none;
        clear: left;
    }
    .woocommerce-account .lost_password {
        padding: 10px 18px 0;
    }
    .woocommerce-account .explain_registration {
        padding: 8px 5px 0;
    }

    /*-----------------------------
     PRODUCT LIST
 -----------------------------*/

    .archive #container {
        width: 100%;
    }
    .archive #secondary.widget-area {
        width: 97%;
        margin-left: 1%;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .sort_prod {
        top: 80px;
        width: 160px;
        margin-left: -80px;
        left: 50%;
    }
    section.widget.open {
        height: 30px;
        margin: 3px 0;
        overflow: hidden;
    }
    .archive section.widget .widget-title {
        background-position: right center;
        height: 30px;
        border-bottom: 1px solid #c2c2c2;
        border-top: 1px solid #c2c2c2;
        padding-top: 6px;
        padding-bottom: 5px;
    }
    .woocommerce ul.products li.product .onsale {
        top: 4px;
        right: 4px;
    }
    .archive ul.products {
        width: 98%;
        margin-right: 1%;
    }
    .archive #container {
        width: 100%;
    }
    .archive ul.products li {
        /*width: 100%!important;
        margin: 0 0 10px!important;
        height: 358px;
        overflow: hidden;*/
        width: 100%!important;
        max-width: 320px;
        margin: 20px auto!important;
        float: none!important;
        height: 358px;
        overflow: hidden;
    }
    .archive ul.products li h3 {
        width: 94%;
        left: 3%;
        top: 3%;
        height: 91%;
        font-size: 22px!important;
    }
    .archive ul.products li .price {
        top: 6%;
        left: 6%;
        width: 88%;
        height: 85%;
        background-position: center 220px;
    }
    #bottom_banners {
        /*max-width: 935px;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 35px;*/
        max-width: 428px;
        width: 100%;
        margin: auto;
        margin-bottom: 35px;
        float: none;
        height: 213px;
        clear: both;
    }
    #bottom_banners #sell_banner_wrap,
    #bottom_banners #try_banner_wrap {
        width: 96%;
        margin-left: 2%;
        float: none;
        margin-top: 10px;
    }
    #bottom_banners #sell_banner_wrap #sell_banner,
    #bottom_banners #try_banner_wrap #try_banner{
        width: 93%;
    }

    /*-----------------------------
   SINGLE BLOG POST
-----------------------------*/

    .single-post .post_text_box {
        width: 100%;
    }
    .post_categories {
        width: 100%;
    }
    .post_categories .social-icons li:first-child {
        /*padding:0px 9px 0 113px;*/
    }

    /*-----------------------------
  BLOG ARCHIVE
-----------------------------*/

    .posts_wrapper {
        width: 100%;
        background-size: 100%;
    }
    .post_categories {
        width: 100%;
    }
    #subscribe {
        width: 80%;
        margin: auto;
        max-width: 280px;
    }
    .post_categories .social-icons li:first-child {
        /*padding: 0px 9px 0 120px;*/
    }
    #post_calendar {
        width: 92%;
        max-width: 320px;
        margin: 0 auto 30px;
    }
    .post_wrapper:first-child .post_text_delimiter {
        width: 96%;
        height: 450px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        margin-top: 0%;
        border: none;
    }
    .post-categories {
        width: 256px;
    }
    .post_wrapper:first-child .post_text_box {
        height: 95%;
    }
    .post_wrapper {
        width: 100%;
        height: 650px;
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        margin-top: 0px;
    }
    .post_archive_text {
        font-size: 14px;
        line-height: 20px;
        color: #7a7a7a;
        margin: 20px 0 25px;
    }
    .post_wrapper .post_text_delimiter {
        background-color: #fff;
        border: 1px solid #ececec;
        position: absolute;
        margin-top: 44%;
        width: 100%;
        height: 60%;
        right: 0px;
        overflow: hidden;
    }
    .woocommerce-billing-fields .form-row,
    .woocommerce-billing-fields .form-row-first{
        float: none!important;
    }
    .form-row, .form-row-first {
        width: 90% !important;
    }
    .woocommerce-billing-fields h3,
    .woocommerce-shipping-fields h3,
    #order_review_heading {
         width: 100%;
         text-align: center;
     }

    div#foto-container {
        width:90%!important;
        margin: auto;
    }
    .whishlist-count {
        text-align: center;
    }
    .menu-how {
        width: 98%!important;
        /*height: 550px!important;*/
        padding: 20px 1%;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
    }
    .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
        float: none;
        width: 100%;
        margin: auto;
    }
    .myaccount_user {
        /*height: 100%;
        margin: 0 5px 0;
        padding-top: 7px;
        font-size: 11px;
        float: right;*/
        height: 100%;
        /*margin: 0;*/
        margin: 0 10px 0 0;
        padding-top: 10px;
        font-size: 11px;
        float: right;
    }
    .myaccount_user a {
        padding: 0px;
    }
    .myaccount_user strong {
        padding-right: 0px;
        text-transform: capitalize;
        font-size: 14px;
    }
    .woocommerce form .form-row {
        float: none;
    }
    .be_menu p {
        height: 30px;
        margin: 0px;
        padding-top: 12px;
        font-size: 11px;
    }
    .page-template-howitworks-php p.large_p_title, .page-template-howtobuy-php p.large_p_title, .page-template-howtosell-php p.large_p_title{width: 80%}
    #content-page.three-part .menu-how {
        float: none;
    }
    .woocommerce-error {
        /*left: 35%;*/
    }

}
@media (min-width: 320px) and (max-width: 1171px) {

    /*-----------------------------
    SELL DRESS
-----------------------------*/
    .mad-form {
        width: 100%;
    }
    .mad-form h1 .big-title {
        font-size: 40px;
    }
    .mad-form .form-section h2 {
        font-size: 15px;
        text-align: center;
        width: 100%;
    }
    .form-row,
    .form-row-first{
        margin: 10px auto!important;
        padding: 0px!important;
        display: block!important;
    }
    .mad-form #terms-submit button {
        float: none;
        width: 70%;
        max-width: 190px;
        margin: 20px auto;
        display: block;
        line-height: 20px;
    }

    .mad-form .bis#terms-submit button{
        float: none;
        width: auto;
        max-width: none;
        margin: 20px auto;
        display: inline-block;
    }

    #foto-container .form-row.small-30,
    #foto-container .form-row.small-25 {
        width: auto!important;
        float: left;
        min-width: 260px;
    }
    .form-row.small-30 label:first-child {
        margin-left: 10px;
        min-width: 310px;
        display: block;
    }
    .advice {
        width: 100%;
        display: block;
        clear: left;
    }
    /*#terms-submit label {
        float: right;
        width: 75%;
        min-width: 250px;
    }*/
    #terms-submit .form-row {
        margin-bottom: 40px!important;
    }
    .mad-form .form-row.small-20 {
        width: 50%;
    }
    .mad-form .form-row.small-25 {
        width: 50%;
        padding-left: 0px!important;
    }
    .mad-form .form-row.small-15 {
        width: 50%;
    }
    div#foto-container {
        width: 50%;
        margin: auto;
    }
    #dress-description textarea {
        /*padding-left: 3px;*/
        width: 90%;
        margin: auto;
        display: block;
    }
    .mad-form .form-row.small-30 {
        width: 50%;
    }
    .woocommerce-account #customer_login {
        width: 100%;
        margin: auto;
        height: auto;
        padding-top: 100px;
    }
    .woocommerce-account.logged-in #content {
        background: none;
        width: 90%;
        margin: 210px auto;
    }
    .mad-form #terms-submit.form-lower button {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .edit-account .form-row {
        float: none!important;
    }

}

@media (max-width: 435px) {

    .dress-condition {
        width: 95px;
    }

}